<p-dataScroller [value]="repactions" [rows]="10" [buffer]="0.4">
  <p-header>
    Scroll Down to Load More
  </p-header>
  <template let-rep pTemplate="item">
    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
            <div class="ui-grid-row" *ngFor="let repaction of repactions">
                <div class="ui-grid-col-3" style="text-align:center"></div>
                <div class="ui-grid-col-9">
                    <div class="ui-grid ui-grid-responsive ui-fluid">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">Bill: </div>
                            <div class="ui-grid-col-10">{{repaction.bill}} {{repaction.rep.party}}-{{repaction.rep.state}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">Representative: </div>
                            <div class="ui-grid-col-10">{{repaction.rep.name}} {{repaction.rep.party}}-{{repaction.rep.state}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">Action: </div>
                            <div class="ui-grid-col-10">{{repaction.action}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--<h2>My Rep's Actions</h2>
    <ul class="actions">
      <li *ngFor="let repaction of repactions">
        <h3>{{repaction.bill}}</h3>
        <h4>Representative: {{repaction.rep.name}} {{repaction.rep.party}}-{{repaction.rep.state}}</h4>
        <h4>Action: {{repaction.action}}</h4>
      </li>
    </ul>-->
  </template>
</p-dataScroller>\