<div class="rep">
  <h3>Represented keeps you informed by providing information about your elected officials as they vote on and sponsor Congressional legislation.<br>
  <br>Stay connected at represented506.me or by using our Represented mobile app!<br>
  <br>Scroll down for more info:</h3>
</div>
<div class="img1"></div>
<div class="informed">
  <h1>Stay Informed</h1>
  <h3>You can choose to receive notifications when your elected officals sponsor or vote on
    legislation.
  <br>Staying up-to-date on facts is important in today's society.
  </h3>
</div>
<div class="img2"></div>
<div class="contact">
  <h1>Be Heard</h1>
  <h3>Represented makes it easy to contact your representatives so they can hear your voice.
  <br>Each representative's profile displays their phone number and a link to their website if available.
  <br>We encourage you to participate in the political process!</h3>
</div>
<div class="img1">
</div>
