<div class="rep-sidebar">

  <div class="portrait">
    <img src="{{portraitUrl}}">
  </div>
  <section *ngIf="errorMsg">
    {{errorMsg}}
  </section>

  <div>
    <div *ngFor="let rep of legislator">
      <h4> {{rep.title}} {{rep.first_name}} {{rep.last_name}} ({{rep.party}}) of {{rep.state_name}} </h4>
      <h4 *ngIf="rep.district"> District: {{rep.state}} - {{rep.district}} </h4>
      <h4> Gender: {{rep.gender}} </h4>

      <h4> In office since: {{rep.term_start}} until {{rep.term_end}}</h4>
      <h4> Chamber: {{rep.chamber}} </h4>
        <p> Website: <a href="{{rep.website}}" target="_blank">{{rep.website}} </a> </p>
        <p> Phone: {{rep.phone}} </p>
        <p> Office: {{rep.office}} </p>
    </div>
  </div>
</div>
<div class="timeline">
  <!--<ul>
    <li *ngFor="let s of sponsored">
      <h2>Bill Title: {{s.short_title}}</h2>
      <p>Sponsor: {{s.sponsor.first_name}} {{s.sponsor.last_name}}</p>
    </li>
  </ul>-->
  <p-dataScroller [value]="sponsored" [rows]="5" [buffer]="0.4">
  	
 		
	<template let-s pTemplate="item">
	
	  <div class="bill-info">
      <h2><a>Bill Title: {{s.short_title}}</a></h2>
      <button (click)="goToBill(s.bill_id)">Go to Bill</button>
      <p>Sponsor: {{s.sponsor.first_name}} {{s.sponsor.last_name}}</p>
	  </div>
	</template>
   
  </p-dataScroller>
</div>
