<div class="rep-sidebar">

  <div class="portrait">
    <img src="{{portraitUrl}}">
  </div>
  <section *ngIf="errorMsg">
    {{errorMsg}}
  </section>

  <div>
    <div *ngFor="let rep of legislator">
      <h4> {{rep.title}} {{rep.first_name}} {{rep.last_name}} ({{rep.party}}) of {{rep.state_name}} </h4>
      <h4 *ngIf="rep.district"> District: {{rep.state}} - {{rep.district}} </h4>
      <h4> Gender: {{rep.gender}} </h4>

      <h4> In office since: {{rep.term_start}} until {{rep.term_end}}</h4>
      <h4> Chamber: {{rep.chamber}} </h4>
        <p> Website: <a href="{{rep.website}}" target="_blank">{{rep.website}} </a> </p>
        <p> Phone: {{rep.phone}} </p>
        <p> Office: {{rep.office}} </p>
    </div>
  </div>
</div>
<div class="timeline">
  <!--<ul>
    <li *ngFor="let s of sponsored">
      <h2>Bill Title: {{s.short_title}}</h2>
      <p>Sponsor: {{s.sponsor.first_name}} {{s.sponsor.last_name}}</p>
    </li>
  </ul>-->
  <p-dataScroller [value]="votes" [rows]="5" [buffer]="0.4">
  	<template let-v pTemplate="item">
  	  <div class="bill-info" (click)="goToBill(v.bill.bill_id)">
        <h2 *ngIf="v.bill.short_title"><a>Bill Title: {{v.bill.short_title}}</a></h2>
        <h2 *ngIf="v.bill.short_title==null && v.bill.official_title"><a>Bill Title: {{v.bill.official_title}}</a></h2>
        <h2 *ngIf="v.bill.official_title==null"><a>No bill title available: This may be a nomination, etc.</a></h2>
        <p>Voted: {{v.voters[key].vote}} to the question: {{v.question}}</p>
        <p>Vote Result: {{v.result}}</p>
        <p *ngIf="v.bill;">Sponsor: {{v.bill.sponsor.first_name}} {{v.bill.sponsor.last_name}}</p>
        <p>{{v.voted_at}}</p>
  	  </div>
  	</template>
  </p-dataScroller>
</div>
