<div class="rep-icons" *ngFor="let rep of legislators">
  <div class="rep" (click)="goToLegislator(rep.bioguide_id)">
    <p>{{rep.first_name}} {{rep.last_name}}</p>
  </div>
</div>
<div class="timeline">
  <p-dataScroller [value]="votes" [rows]="5" [buffer]="0.4">
    <p-header>
        Scroll Down to to Load More
    </p-header>
  	<template let-v pTemplate="item">
  	  <div class="bill-info" (click)="goToBill(v.bill.bill_id)">
        <h2 *ngIf="v.bill.short_title"><a>Bill Title: {{v.bill.short_title}}</a></h2>
        <h2 *ngIf="v.bill.short_title==null"><a>Bill Title: {{v.bill.official_title}}</a></h2>
        <p *ngIf="v.voters[repIds[0]]">Voted: {{v.voters[repIds[0]].vote}} to the question: {{v.question}}</p>
        <p *ngIf="v.voters[repIds[1]]">Voted: {{v.voters[repIds[1]].vote}} to the question: {{v.question}}</p>
        <p *ngIf="v.voters[repIds[2]]">Voted: {{v.voters[repIds[2]].vote}} to the question: {{v.question}}</p>
        <p>Vote Result: {{v.result}}</p>
        <p *ngIf="v.bill;">Sponsor: {{v.bill.sponsor.first_name}} {{v.bill.sponsor.last_name}}</p>
        <p>{{v.voted_at}}</p>
  	  </div>
  	</template>
  </p-dataScroller>
</div>
